/* 구글 웹폰트 */
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* 눈누 웹폰트 */
@font-face {
    font-family: 'Binggrae-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 변수 지정 */
:root {
    /* Font */
    --Binggrea: 'Binggrae-Bold';
    --nanum: 'Nanum Gothic', sans-serif;

    /* Font Size */
    --font-size-48: 4.8rem;
    --font-size-36: 3.6rem;
    --font-size-24: 2.4rem;
    --font-size-20: 2.0rem;
    --font-size-16: 1.6rem;
    --font-size-14: 1.4rem;
    --font-size-12: 1.2rem;

    /* Color */
    --color-black: #333333;
    --color-dark-gray: #555555;
    --color-gray: #dadada;
    --color-vanilla: #f7e2ad;
    --color-red: #c83349;
    --color-chocolate: #744035;
    --color-white:#ffffff;
    --color-light-vanilla:#fffdf6;

    /* Box-shadow */
    --shadow: 0 4px 4px rgba(0,0,0, 25%);
}

html { /* 디폴트 글자크기 10px , 전체 박스사이징 설정 */
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-family: var(--nanum); /* 전체 폰트 나눔고딕 */
}

.center{ /* 화면 가운데 레이아웃 */
    width:100%;
    max-width:120rem;
    margin:0 auto;
}

.hidden{ /* 글자 숨김 */
    position: absolute; 
    width: 1px; 
    height: 1px; 
    clip: rect(0 0 0 0); 
    overflow: hidden;
}
main{
    margin-top: 8rem;
}

footer{
    margin-top: 15rem;
}

.to-top{ /* 위로가기버튼 */
    position: fixed;
    right:3rem;
    bottom:3rem;
    width: 6rem;
    height: 6rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 6rem;
    border:0.1rem solid var(--color-chocolate);
    border-radius: 50%;
    background:rgba(247,226,173,25%);
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}
.to-top:hover{
    background:rgba(247,226,173,100%);
}
.to-top.active{
    opacity: 1;
    pointer-events: auto;
}


/* 미디어쿼리 */

@media screen and (max-width:640px){ /* mobile 반응형 화면 여백*/
    .center{
        padding:0 2rem;
    }
    main{
        margin-top: 6.4rem;
    }
    footer{
        margin-top: 5rem;
    }
    .to-top{
        display: none;
    }
}

@media screen and (max-width:1024px) and (min-width:641px){ /* Tablet 반응형 화면 여백 */
    .center{
        padding: 0 2rem;
    }
    footer{
        margin-top: 10rem;
    }
}
