/* 비디오 */
main video{
    width: 100%;
}



/* 신제품 섹션 */
section.new-product{
    position: relative;
}
section.new-product > h2{
    margin: 10rem 0;
    font-size: var(--font-size-48);
    font-weight: bold;
    text-align: center;
    color: var(--color-dark-gray);
}
section.new-product > .new-textbox{
    width: 100%;
    height: 78rem;
    background: url(../img/main/main03.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}
section.new-product > .new-textbox > .center > img{
    padding: 10rem 0 6rem 6rem;
}
section.new-product > .new-textbox > .center > p{
    line-height: 6rem;
    font-size: var(--font-size-36);
    color:var(--color-white);
}
section.new-product > .new-textbox > .center > p:last-of-type{
    padding-top: 2rem;
    font-size: 5.2rem;
    font-weight: bold;
}
/* 지금 사러가기 버튼 */
section.new-product > .new-textbox > .center > a{
    position: absolute;
    bottom:7rem;
    left: 50%;
    transform: translateX(-50%);
    width:19rem;
    text-align: center;
    font-size:2.4rem;
    font-weight: bold;
    line-height: 6rem;
    color:var(--color-white);
    background:rgba(247,226,173,25%);
    border:0.2rem solid var(--color-vanilla);
    border-radius: 3rem;
    transition: all .1s linear;
}
/* 지금 사러가기 버튼 이벤트*/ 
section.new-product > .new-textbox > .center > a:hover{
    color:var(--color-chocolate);
    background:rgba(247,226,173,70%);
}



/* 제품소개 섹션 */
section.intro-items > h2{
    margin: 10rem 0;
    font-size: var(--font-size-48);
    font-weight: bold;
    text-align: center;
    color: var(--color-dark-gray);
}
section.intro-items > .intro-bg{
    width: 100%;
    height: 29.6rem;
    background: url(../img/main/img1.jpg)no-repeat center;
}
 /* 제품소개 아이탬 슬라이드 Swiper JS */
.swiper {
    position: relative;
    top:-2.5rem;
    width: 100%;
    max-width: 95rem;
    height: 44.8rem;
    text-align: center;
}
.swiper-slide{
    height: 40.6rem;
    background: #F9F9F9;
    border: 0.1rem solid var(--color-gray);
}
.swiper-slide img{
    width:100%;
}
.swiper-slide dt{
    padding-top:2rem;
    font-size:var(--font-size-24);
    font-weight: bold;
}
/* 리스트 폰트색 각각 지정 */
.list1{
    color:#585C6D;
}
.list2{
    color:#E0B04A;
}
.list3{
    color:#261307;
}
.list4{
    color:#A590AD;
}
.list5{
    color:#DE2746;
}
.list6{
    color:#E46372
}
.swiper-slide dd{
    padding-top:2rem;
    font-size:var(--font-size-14);
    line-height: 2.2rem;
}
.swiper-pagination-bullet{
    width: 1.5rem;
    height:1.5rem;
    background: var(--color-red);
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom:0;
}



/* 정기구독 섹션 */
section.subscribe{
    margin-top: 2rem;
}
section.subscribe > .subscribe-bg{
    width: 100%;
    height: 33rem;
    background: url(../img/main/img2.jpg)no-repeat;
    background-position: center;
}
section.subscribe > .subscribe-container{
    position: relative;
    width:100%;
    max-width: 73.3rem;
    margin: 0 auto;
}
section.subscribe > .subscribe-container > p{
    text-align: center;
    font-size: var(--font-size-36);
    font-weight:bold;
}
section.subscribe > .subscribe-container > p:first-of-type{    
    color:var(--color-black);
    margin-top: 10rem;
}
section.subscribe > .subscribe-container > p:nth-of-type(2){
    margin-top: 2.5rem;
    font-size: var(--font-size-24);
    color:var(--color-red);
}
section.subscribe > .subscribe-container > p:last-of-type{
    margin-top: 7rem;
    color:var(--color-chocolate);
}
/* 정기구독 아이콘 리스트 */
section.subscribe > .subscribe-container > .subscribe-card{    
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:1rem;
}
section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list{
    flex-basis: calc(25% - 1rem);
}
section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height:17.5rem;
    background: var(--color-light-vanilla);
    border:0.2rem solid var(--color-chocolate);
}
section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list > dl{
   width:100%;
   /* height:9rem; */
   color: var(--color-black);
   text-align: center;
}
section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list > dl > dt{
    padding-top:2rem;
    font-size: var(--font-size-16);
    font-weight:800;
}
section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list > dl > dd{
    padding-top:1.5rem;
    font-size: var(--font-size-14);
    line-height: 2.2rem;
    color: var(--color-dark-gray);
}
/* 정기구독 더 알아보기 버튼 */
section.subscribe > .subscribe-container > .subscribe-more{
    position: absolute;
    bottom: -13rem;
    left: 50%;
    transform: translateX(-50%);
    width:19rem;
    font-size: var(--font-size-24);
    font-weight: bold;
    text-align: center;
    line-height: 5.6rem;
    color: var(--color-chocolate);
    border:0.2rem solid var(--color-chocolate);
    border-radius: 3rem;
    background-color: var(--color-light-vanilla);
    transition: all 0.1s linear;
}
/* 정기구독 더 알아보기 버튼 이벤트*/
section.subscribe > .subscribe-container > .subscribe-more:hover{
    background-color: var(--color-vanilla);
}



/* 끌레도르 인스타그램 섹션 */
section.cledor-insta{
    margin-top: 23rem;
}
section.cledor-insta > div{
    position: relative;
}
section.cledor-insta > div > h2{    
    width:26rem;
    margin: 0 auto;
    font-size:var(--font-size-48);
    font-weight: bold;
    text-align: center;
    color: var(--color-red);
    background: var(--color-white);
}
section.cledor-insta > div:first-of-type:before{
    position: absolute;
    content: "";
    width: 100%;
    height:0.3rem;
    top:50%;
    transform: translateY(-50%);
    background-color: var(--color-red);
    z-index: -1;
}
section.cledor-insta > p{
    padding-top: 3.8rem;
    text-align: center;
    font-size: var(--font-size-16);
    color: var(--color-dark-gray);
}
/* 인스타 이미지 박스*/
section.cledor-insta > .insta-img{
    margin-top: 5.5rem;
    display: flex;
    gap: 1.4rem;
    flex-wrap: wrap;
}
section.cledor-insta > .insta-img > a{
    display: block;
    flex-basis: calc(25% - 1.1rem);
}
section.cledor-insta > .insta-img > a > img{
    width: 100%;
    transition: all 0.2s ease;
}
/* 이미지 박스 이벤트*/
section.cledor-insta > .insta-img > a:hover > img{
    transform: scale(105%);
    box-shadow: 0 0 1rem var(--color-red);
}



/* 미디어쿼리 */


 /* mobile */
@media screen and (max-width:640px){
    
    /* 신제품 섹션 */
    section.new-product > h2{
        display: none;
    }
    section.new-product > .new-textbox{
        height: 35rem;
    }
    section.new-product > .new-textbox > .center > img{
        width:15rem;
        padding: 2rem 0 4rem 0;
    }
    section.new-product > .new-textbox > .center > p{
        line-height: 3rem;
        font-size: var(--font-size-16);
    }
    section.new-product > .new-textbox > .center > p:last-of-type{
        font-size: 2.8rem;
    }
    /* 지금 사러가기 버튼 */
    section.new-product > .new-textbox > .center > a{
        bottom:3rem;
        width:13rem;
        font-size:1.4rem;
        line-height: 3rem;
    }


    /* 제품소개 섹션 */
    section.intro-items{
        margin-top: 1rem;
    }
    section.intro-items > h2{
        display: none;
    }
    section.intro-items > .intro-bg{
        display: none;
    }
    /* 제품소개 아이탬 슬라이드 Swiper JS */
    .swiper {
        padding:0 2rem;
        position: relative;
        top:1rem;
        width: 100%;
        max-width: 50rem;
        height: 26.8rem;
        text-align: center;
    }
    .swiper-slide{
        height: 23rem;
        background: #F9F9F9;
        border: 0.1rem solid var(--color-gray);
    }
    .swiper-slide dt{
        padding-top:1.5rem;
        font-size:var(--font-size-14);
        font-weight: bold;
    }
    .swiper-slide dd{
        padding-top:1rem;
        font-size:var(--font-size-10);
        line-height: 1.6rem;
    }
    .swiper-pagination-bullet{
        width: 0.8rem;
        height:0.8rem;
    }


    /* 정기구독 섹션 */
    section.subscribe{
        margin-top: 2rem;
    }
    section.subscribe > .subscribe-bg{
        height: 10rem;
    }
    section.subscribe > .subscribe-container{
        padding:0 2rem;
        max-width: 37rem;
    }
    section.subscribe > .subscribe-container > p{
        font-size: var(--font-size-16);
    }
    section.subscribe > .subscribe-container > p:first-of-type{    
        margin-top: 3rem;
    }
    section.subscribe > .subscribe-container > p:nth-of-type(2){
        margin-top: 1rem;
        font-size: var(--font-size-14);
    }
    section.subscribe > .subscribe-container > p:last-of-type{
        margin-top: 3rem;
    }
    /* 정기구독 아이콘 리스트 */
    section.subscribe > .subscribe-container > .subscribe-card{    
        margin-top: 2rem;
        gap:0.5rem;
    }
    section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list{
        flex-basis: calc(25% - 0.5rem);
    }
    section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list > div{
        height:9rem;
    }
    section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list > div > img{
        height:4rem;
    }
    section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list > dl > dt{
        padding-top:1rem;
        font-size: var(--font-size-12);
        line-height: 1.9rem;
        font-weight:normal;
    }
    section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list > dl > dd{
        display: none;
    }
    /* 정기구독 더 알아보기 버튼 */
    section.subscribe > .subscribe-container > .subscribe-more{
        bottom: -6rem;
        width:10rem;
        font-size: var(--font-size-14);
        line-height: 3.6rem;
        border-radius: 1.8rem;
    }


    /* 끌레도르 인스타그램 섹션 */
    section.cledor-insta{
        margin-top: 10rem;
    }
    section.cledor-insta > div > h2{    
        width:16rem;
        font-size:var(--font-size-24);
    }
    section.cledor-insta > div:first-of-type:before{
        height:0.1rem;
    }
    section.cledor-insta > p{
        padding-top: 1.8rem;
    }
    /* 인스타 이미지 박스*/
    section.cledor-insta > .insta-img{
        margin-top: 2rem;
    }
    section.cledor-insta > .insta-img > a{
        flex-basis: calc(25% - 1.1rem);
    }
}


 /* Tablet */
@media screen and (max-width:1023px) and (min-width:641px){
    
    /* 신제품 섹션 */
    section.new-product > h2{
        margin: 5rem 0;
        font-size: var(--font-size-36);
    }
    section.new-product > .new-textbox{
        height: 50rem;
    }
    section.new-product > .new-textbox > .center > img{
        width:30rem;
        padding: 5rem 0 4rem 6rem;
    }
    section.new-product > .new-textbox > .center > p{
        line-height: 4rem;
        font-size: var(--font-size-24);
    }
    section.new-product > .new-textbox > .center > p:last-of-type{
        font-size: 4rem;
    }
    /* 지금 사러가기 버튼 */
    section.new-product > .new-textbox > .center > a{
        bottom:4rem;
        width:16rem;
        font-size:1.8rem;
        line-height: 4rem;
    }


    /* 제품소개 섹션 */
    section.intro-items > h2{
        margin: 5rem 0;
        font-size: var(--font-size-36);
    }
    section.intro-items > .intro-bg{
        width: 100%;
        height: 22rem;
    }
    /* 제품소개 아이탬 슬라이드 Swiper JS */
    .swiper {
        position: relative;
        top:1rem;
        width: 100%;
        max-width: 60rem;
        height: 34.8rem;
        text-align: center;
    }
    .swiper-slide{
        height: 28rem;
        background: #F9F9F9;
        border: 0.1rem solid var(--color-gray);
    }
    .swiper-slide dt{
        padding-top:1.5rem;
        font-size:var(--font-size-20);
        font-weight: bold;
    }
    .swiper-slide dd{
        padding-top:1rem;
        font-size:var(--font-size-12);
        line-height: 1.9rem;
    }
    .swiper-pagination-bullet{
        width: 1.2rem;
        height:1.2rem;
    }


    /* 정기구독 섹션 */
    section.subscribe{
        margin-top: 4rem;
    }
    section.subscribe > .subscribe-bg{
        height: 25rem;
    }
    section.subscribe > .subscribe-container{
        max-width: 53.3rem;
    }
    section.subscribe > .subscribe-container > p{
        font-size: var(--font-size-24);
    }
    section.subscribe > .subscribe-container > p:first-of-type{    
        margin-top: 5rem;
    }
    section.subscribe > .subscribe-container > p:nth-of-type(2){
        margin-top: 1.5rem;
        font-size: var(--font-size-20);
    }
    section.subscribe > .subscribe-container > p:last-of-type{
        margin-top: 4rem;
    }
    /* 정기구독 아이콘 리스트 */
    section.subscribe > .subscribe-container > .subscribe-card{    
        margin-top: 3rem;
        gap:1rem;
    }
    section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list{
        flex-basis: calc(25% - 1rem);
    }
    section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list > div{
        height:13.5rem;
    }
    section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list > div > img{
        height:6rem;
    }
    section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list > dl > dt{
        padding-top:1.8rem;
        font-size: var(--font-size-16);
        font-weight:800;
    }
    section.subscribe > .subscribe-container > .subscribe-card > .subscribe-list > dl > dd{
        padding-top:1.5rem;
        font-size: var(--font-size-12);
        line-height: 1.9rem;
    }
    /* 정기구독 더 알아보기 버튼 */
    section.subscribe > .subscribe-container > .subscribe-more{
        bottom: -10rem;
        width:15rem;
        font-size: var(--font-size-20);
        line-height: 4.6rem;
        border-radius: 3.3rem;
    }


    /* 끌레도르 인스타그램 섹션 */
    section.cledor-insta{
        margin-top: 14rem;
    }
    section.cledor-insta > div > h2{    
        width:20rem;
        font-size:var(--font-size-36);
    }
    section.cledor-insta > div:first-of-type:before{
        height:0.2rem;
    }
    section.cledor-insta > p{
        padding-top: 2.8rem;
    }
    /* 인스타 이미지 박스*/
    section.cledor-insta > .insta-img{
        margin-top: 3.5rem;
    }
    section.cledor-insta > .insta-img > a{
        flex-basis: calc(25% - 1.1rem);
    }
}